body{
  background-image: url(assets/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
.clock-container{

}
.clock{
  color: white;
  font-weight: bold;
  font-size: 6rem;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}