.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
    max-width: 500px;
}
img.displaySlide{
    display: block;
}