.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 500px;
}
.slider img{
    width: 100%;
    display: none;
    max-width: 500px;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.508);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}
.prev {
    /* align to left */
    left: 0;
}
.next{
    /* align to right */
    right: 0;
}
@keyframes fade{
    from {opacity: 0.5;}
    to {opacity: 1;}
}