.todo-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.add-button{
  background-color: hsl(120, 84%, 41%);
}

.add-button:hover{
  background-color: hsl(120, 84%, 31%);
}

.delete-button{
  background-color: hsl(0, 93%, 47%);
}

.delete-button:hover{
  background-color: hsl(0, 93%, 37%);
}

.move-button{
  background-color: hsl(190, 100%, 50%);
}

.move-button:hover{
  background-color: hsl(190, 100%, 40%);
}